# -- Templete admin-wrap ----------
admin-wrap/
admin-wrap/*

# -- Templete WB04HF123 ----------
WB04HF123/
WB04HF123/*

# -- Templete iwthemes ----------
html.iwthemes.com/
html.iwthemes.com/*

# -- Templete homealarms ----------
homealarms/
homealarms/*

# -- Templete themelooks.us ----------
themelooks.us/
themelooks.us/*